<!--Navbar Primary-->
  <div class="row py-4 align-items-center">
    <div class="col-3 text-center">
      <button mat-fab class="button-sidebar" (click)="actButtonHam()">
        <mat-icon class="icon-sidebar">menu</mat-icon>
      </button>
    </div>
    <div class="col-6 text-center">
      <img class="logo-white" [src]=iconLogo>
    </div>
    <div class="col-3 text-center">
      <button mat-fab class="button-sidebar">
        <mat-icon class="icon-sidebar">account_circle</mat-icon>
      </button>
    </div>
  </div>

<!--Navbar Secondary-->
<ng-template #secondary>
    <div class="row align-items-center">
      <div class="col-3 text-center">

      </div>
      <div class="col-9 text-center">
        <span></span>
      </div>
    </div>
</ng-template>
