<div id=sidebar>
  <!--Base-->
    <div class="row">
        <div class="col-11 offset-1">

            <!--Icon-->
            <div class="row">
                <div class="col-10">

                </div>
                
                <!--Search-->
                <div class="col-2">

                </div>
                
            </div>
            <!--First Buttons-->
            <div class="row">

                <li>asd</li>
            </div>
            <mat-divider></mat-divider>

            <!--Second Buttons-->
            <div class="row">

                <li>asd</li>
            </div>
            <mat-divider></mat-divider>

            <!--More Buttons-->

            <div class="row">




            </div>


        </div>
    </div>

</div>