@import "../../app.component.scss";

#sidebar{
    position:fixed;
    width: 80%;
    height: 100%;
    background-color: #48566B;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    @include sm{
        width: 15%;
    }
}
